<!-- Modal -->
<div class="modal fade" id="acceptFriends" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Friend requests</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="wrapper">
		<ul class="list-group">
        <% for (let i=0; i < requests.length; i++) { %>
  <li class="list-group-item" aria-disabled="true"><%=requests[i].from%>
  <button id="accept" style="float:right" class="btn btn-primary btn-sm">Accept</button>
  <p class="sender_id" style="display:none"><%=requests[i].user_id%></p>
  </li>
  
        <% } %>
        </ul>
       
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>